{% extends "base.html" %}
{% block body %}
    <header class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-lg-6 mx-auto">
                <form method="POST">
                    {% csrf_token %}
                    <div class="row">
                    <div class="row btn-group btn-group-toggle bolumler" data-toggle="buttons">
                        <div class="col-6" style="background-color: rgba(231, 76, 60, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="1" autocomplete="on">Karim Benzema</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(165, 105, 189, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="2" autocomplete="on">Eden Hazard</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(93, 173, 226, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="3" autocomplete="on">Marcelo Vieira</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(75, 192, 192, 0.2);">
                            <label class="btn"><input type="radio" name="club1player" value="4" autocomplete="on">Gareth Bale</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(244, 208, 63, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="5" autocomplete="on">Eduardo Camavinga</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 159, 64, 0.2);">
                            <label class="btn"><input type="radio" name="club1player" value="6" autocomplete="on">Vini Jr.</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(30, 132, 73, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="7" autocomplete="on">Ferland Mendy</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(204, 204, 255, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="8" autocomplete="on">Luka Modrić</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 105, 180, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="9" autocomplete="on">David Alaba</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(128, 128, 128, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="10" autocomplete="on">Toni Kroos</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(30, 132, 73, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="11" autocomplete="on">Thibaut Courtois</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(204, 204, 255, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="12" autocomplete="on">Federico Valverde</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 105, 180, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="13" autocomplete="on">Rodrygo</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(128, 128, 128, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="14" autocomplete="on">Isco</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(30, 132, 73, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="15" autocomplete="on">Marco Asensio</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(204, 204, 255, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="16" autocomplete="on">Casemiro</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 105, 180, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="17" autocomplete="on">Dani Carvajal</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(128, 128, 128, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="18" autocomplete="on">Luka Jović</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(30, 132, 73, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="19" autocomplete="on">Nacho</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(204, 204, 255, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="20" autocomplete="on">Lucas Vázquez</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 105, 180, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="21" autocomplete="on">Éder Militão</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(128, 128, 128, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="22" autocomplete="on">Dani Ceballos</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(30, 132, 73, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="23" autocomplete="on">Mariano</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(204, 204, 255, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="24" autocomplete="on">Miguel Gutiérrez</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 105, 180, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="25" autocomplete="on">Jesús Vallejo</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(128, 128, 128, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="26" autocomplete="on">Andriy Lunin</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 105, 180, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="27" autocomplete="on">Antonio Blanco</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(128, 128, 128, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="28" autocomplete="on">Toni Fuidias Ribera</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(255, 105, 180, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="29" autocomplete="on">Luis Federico López Andúgar</label>
                        </div>
                        <div class="col-6" style="background-color: rgba(128, 128, 128, 0.4);">
                            <label class="btn"><input type="radio" name="club1player" value="30" autocomplete="on">Sergio Santos</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success d-block w-50 mx-auto my-3">Vote</button>
                </form>
            </div>
        </div>
    </header>
{% endblock %}